section
  h1 Learning To Program with Minecraft
  h2 Day 9: Final Project!
  h4 Camp Eureka 2014
  p.
    Created by 
    <a href="http://grahammackie.com">Graham Mackie</a>
    /
      <a href="http://twitter.com/grahamamckie">@GrahamMackie</a>

section
  h1 Last Day!
  h2 We did it!

section
  section
    h1 What have we learned?

  section
    h2 Basics of programming
    ul
      li JAVASCRIPT!
      li Functions
      li Parameters
      li Code Syntax

  section
    h2 More advanced stuff
    ul
      li
        | Loops
        ul
          li 
            code while()
          li
            code for()
      li
        | Conditionals
        ul
          li
            code if()
          li
            code else()
      li Event-Driven Programming

  section
    h2 Java/Forge Mods
    ul
      li Learned how to setup a mod
      li Created Blocks
      li Created Items
      li Crafting/Smetling Recipes

section
  section
    h1 Course Overview: Week 1
    ul
      li Day 1: Setup Minecraft/Introduction to Javascript
      li Day 2: Creating things in Minecraft using JS
      li Day 3: Writing Functions to build complex structures
      li Day 4: Using Loops for repetitive code
      li Day 5: Using conditionals to decide to do something
  
  section
    h1 Course Overview: Week 2 
    ul
      li Day 6: Using Event Listeners to interact with the server
      li Day 7: Intro to Java/Forge Mods 
      li Day 8: Creating Items/Blocks 
      li Day 9: Course Wrapup/Fun Extras/Project

section
  h2 More Java/Forge Mod Material
  ul
    li There is a ton of cool stuff that we could do with Java
    li Unfortunately We don't have enough time to cover it
    li Luckily, you have a good programming background now
    li And there are plenty of resources online!
    li Google "Minecraft Forge Mod Tutorials"

section
  section
    h1 Today: Final Project
    h3 Create something to show off tomorrow!

  section
    h2 Things to show off tomorrow
    ul
      li 
        |ScriptcraftJS Function to build a complex structure
        ul
          li We will make these today
          li Should use loops and/or conditionals
          li Should be something other than what we've made in class
      li Your items/blocks from yesterday

section
  section
    h2 Custom Complex Structures
    ul
      li 
        | Drones
        ul
          li Move them around
          li Use some checkpoints
          li Use multiple functions (<code>box0(), prism0(), door()</code>, etc..)
      li Function doesn't have to have parameters (but it would be nice)
      li Build something other than what we've made in class
  
  section
    h2 Possible Ideas
    ul
      li Train Tunnel (powered rails, redstone, buttons, etc)
      li Complex house (Multiple floors/rooms, windows, balconies, etc)
      li City block (skyscrapers with a road and stuff)
      li Castle (Outer Walls, Spires, Inner Keep, Gate, moat, etc)
      li WHATEVER YOU WANT!

section
  section
    h2 Project Design
    ul
      li Choose your project
      li Come up with a broad description of what it will look like when its done
      li Write everything down somewhere (paper, notepad++, etc)

  section
    h2 Project Design
    ul
      li 
        | Once you have a solid idea, start to flesh out the project more
        ul
          li Draw your shapes on paper 
          li Label their heights
          li Mark what blocks they will use

section
  h2 Creating your Project!
  ul
    li Will probably not work exactly right the first time
    li or the 2nd...
    li Feel free to ask me for help!

