section
  h1 Learning To Program with Minecraft
  h2 Day 9: Final Project!
  h4 Camp Eureka 2014
  p.
    Created by 
    <a href="http://grahammackie.com">Graham Mackie</a>
    /
      <a href="http://twitter.com/grahamamckie">@GrahamMackie</a>

section
  h1 Last Day!
  h2 We did it!

section
  section
    h1 What have we learned?

  section
    h2 Basics of programming
    ul
      li JAVASCRIPT!
      li Functions
      li Parameters
      li Code Syntax

  section
    h2 More advanced stuff
    ul
      li
        | Loops
        ul
          li 
            code while()
          li
            code for()
      li
        | Conditionals
        ul
          li
            code if()
          li
            code else()
      li Event-Driven Programming

section
  section
    h1 Course Overview: Week 1
    ul
      li Day 1: Setup Minecraft/Introduction to Javascript
      li Day 2: Creating things in Minecraft using JS
      li Day 3: Writing Functions to build complex structures
      li Day 4: Using Loops for repetitive code
      li Day 5: Using conditionals to decide to do something
  
  section
    h1 Course Overview: Week 2 
    ul
      li Day 6: Using Event Listeners to interact with the server
      li Day 7: Finish up instruction, Introduce Project design principles
      li Day 8: Come up with idea for Project, Create 'Blueprint'
      li Day 9: Finish Project

section
  section
    h2 Project Design
    ul
      li Choose your project
      li Come up with a broad description of what it will look like when its done
      li Write everything down somewhere (paper, notepad++, etc)

  section
    h2 Project Design
    ul
      li 
        | Once you have a solid idea, start to flesh out the project more
        ul
          li Draw your shapes on paper 
          li Label their heights
          li Mark what blocks they will use

section
  h2 Creating your Project!
  ul
    li Will probably not work exactly right the first time
    li or the 2nd...
    li Feel free to ask me for help!


